* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #613790;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header img {
    margin-right: 20px;
}

header h1 {
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
}

nav {
    background-color: #a67bd6;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #8251ba;
}

nav .active {
    background-color: #ad89d6;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: .25rem .75rem;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #a67bd6;
    color: black;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    background-color: #b686ec;
    color: black;
    font-weight: 700;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active {
    background-color: #8c5fbf;
}

main {
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #293035;
    justify-items: center;
}

main img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Noto Serif', serif;
    background-color: #a67bd6;
    margin-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

main #section1 h2 {
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}

main #section1 p {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    /*grid-column: 1/2;*/
}

#section1 h2 {
    min-width: 250px;
    box-shadow: 10px 10px 50px grey;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    margin: 20px;
    /*grid-column: 1/2;*/
}

h3 {
    background-color: #a67bd6;
    color: black;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

#section6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c9bfbf;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #ddd;
}

footer {
    color: #ffff;
    background-color: #613790;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

#lastModified {
    color: #ffffff;
}

#discover-info ul li {
    list-style-type: none;
}

.photo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.capitol-label,
.wells-label,
.cob-label {
    position: absolute;
    top: 30px;
    right: 20%;
    background: radial-gradient(#fff, #004C8B);
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    z-index: 1;
}

.capitol-label p,
.wells-label p,
.cob-label p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

.tabernacle-label,
.mcintyre-label,
.walker-label {
    position: absolute;
    top: 30px;
    left: 20%;
    background: radial-gradient(#fff, #4D423B);
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    z-index: 1;
}

.tabernacle-label p,
.mcintyre-label p,
.walker-label p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}